Daily News Briefing.json
{
  "name": "Daily News Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        192
      ],
      "id": "ca2f7457-af2f-46aa-b86c-b4524b0900c7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -304,
        192
      ],
      "id": "5da2c905-6080-43eb-baf7-923453ded5ae",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "=Daily News Briefing - {{ $now.format('yyyy-MM-dd') }}",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        144,
        192
      ],
      "id": "7f5d7e76-576c-442f-baa4-d6fdcfac915f",
      "name": "Send a message",
      "webhookId": "9791082c-c690-4223-b538-d54e1e2df279",
      "credentials": {
        "gmailOAuth2": {
          "id": "ysrYtijCO8sMt1IR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appEM8dfbnS3mxKWA",
          "mode": "list",
          "cachedResultName": "News Briefing",
          "cachedResultUrl": "https://airtable.com/appEM8dfbnS3mxKWA"
        },
        "table": {
          "__rl": true,
          "value": "tblzi1N9aVHHOVsB1",
          "mode": "list",
          "cachedResultName": "Subscribers",
          "cachedResultUrl": "https://airtable.com/appEM8dfbnS3mxKWA/tblzi1N9aVHHOVsB1"
        },
        "filterByFormula": "={Status} = 'Active'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -528,
        192
      ],
      "id": "f582f4ab-3b07-4e38-a2cf-7fd07532a5fd",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "yGRXeKS9Fhd5nToD",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appEM8dfbnS3mxKWA",
          "mode": "list",
          "cachedResultName": "News Briefing",
          "cachedResultUrl": "https://airtable.com/appEM8dfbnS3mxKWA"
        },
        "table": {
          "__rl": true,
          "value": "tblzi1N9aVHHOVsB1",
          "mode": "list",
          "cachedResultName": "Subscribers",
          "cachedResultUrl": "https://airtable.com/appEM8dfbnS3mxKWA/tblzi1N9aVHHOVsB1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last Email Sent": "={{ $now.format('yyyy-MM-dd') }}",
            "id": "={{ $('Search records').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Unsubscribed",
                  "value": "Unsubscribed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Email Sent",
              "displayName": "Last Email Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        368,
        192
      ],
      "id": "66f01dc0-dee0-49ad-a398-12d0420d176f",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "yGRXeKS9Fhd5nToD",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Subscribe to Daily Tech Briefing",
        "formDescription": "Start your mornings with the latest in tech. Get the biggest headlines, AI updates, startup news, and product launches delivered every day at 8:00 AM.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "FirstName",
              "fieldName": "First Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "fieldName": "Email Address",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -832,
        -32
      ],
      "id": "cfda0a5f-7a29-4f02-9d36-fcbdffa95cd8",
      "name": "On form submission",
      "webhookId": "678e897e-1968-4bcf-9c19-350dfafc389c"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appEM8dfbnS3mxKWA",
          "mode": "list",
          "cachedResultName": "News Briefing",
          "cachedResultUrl": "https://airtable.com/appEM8dfbnS3mxKWA"
        },
        "table": {
          "__rl": true,
          "value": "tblzi1N9aVHHOVsB1",
          "mode": "list",
          "cachedResultName": "Subscribers",
          "cachedResultUrl": "https://airtable.com/appEM8dfbnS3mxKWA/tblzi1N9aVHHOVsB1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Email Address": "={{ $json['Email Address'] }}",
            "Status": "Active"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Unsubscribed",
                  "value": "Unsubscribed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Sent Date",
              "displayName": "Last Sent Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -528,
        -32
      ],
      "id": "b06e8235-3e17-424a-9ea2-70b71ff1d2e2",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "yGRXeKS9Fhd5nToD",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get subscribers from Airtable node\nconst subscribers = $('Search records').all();\n\n// 2. Get top 5 RSS items\nconst rssItems = $('RSS Read').all().slice(0, 5);\n\n// 3. Build HTML news block\nlet formattedArticles = rssItems.map((item, index) => {\n  const title = item.json.title || 'No Title';\n  const link = item.json.link || '#';\n  const pubDate = item.json.pubDate ? new Date(item.json.pubDate).toLocaleDateString() : '';\n  \n  return `<p><b>${index + 1}. <a href=\"${link}\">${title}</a></b><br><small>${pubDate}</small></p>`;\n}).join('<hr>');\n\n// 4. Filter out subscribers without an email address\nconst validSubscribers = subscribers.filter(sub => {\n  const fields = sub.json.fields || sub.json;\n  return fields['Email Address'] || fields['Email'];\n});\n\n// 5. Output formatted email object with pairedItem data preserved\nreturn validSubscribers.map((sub, itemIndex) => {\n  const fields = sub.json.fields || sub.json;\n  const firstName = fields['First Name'] || 'there';\n  const email = fields['Email Address'] || fields['Email'];\n  const recordId = sub.json.id;\n\n  return {\n    json: {\n      recordId: recordId,\n      recipientEmail: email,\n      firstName: firstName,\n      subject: `Your Daily Tech Briefing, ${firstName}!`,\n      emailBody: `<h2>Good morning, ${firstName}! 👋</h2><p>Here are your top tech stories for today:</p>${formattedArticles}`\n    },\n    // Adding pairedItem tells n8n exactly where this item originated!\n    pairedItem: {\n      item: itemIndex\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        192
      ],
      "id": "8e1a8c00-62d8-42a5-9c59-abba13dfbe79",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "85d0aa1e-c119-43fd-9cc3-a0d9a3fa83b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78b76dc7fa47a42ba091d6b30dfc42eb15d5839636b3a66921941b4090bc8832"
  },
  "nodeGroups": [],
  "id": "1laSxq1Mmog9wLxj",
  "tags": []
}